/*------------------------- */
/*Custom properties
/*------------------------- */

:root {
  --clr-br-blue: hsl(220, 98%, 61%);
  --vl-grey: hsl(0, 0%, 98%);

  /*------------------------- */
  /* Light theme
/*------------------------- */

  --vl-greyBlue: hsl(236, 33%, 92%);
  --l-greyBlue: hsl(233, 11%, 84%);
  --d-greyBlue: hsl(236, 9%, 61%);
  --vd-greyBlue: hsl(235, 19%, 35%);
  --vl-greyBlue: hsl(236, 33%, 92%);

  /*------------------------- */
  /* Dark theme
  /*------------------------- */

  --vd-Blue: hsl(235, 21%, 11%);
  --vd-Desaturated-Blue: hsl(235, 24%, 19%);
  --l-Grayish-Blue: hsl(234, 39%, 85%);
  --l-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --d-Grayish-Blue: hsl(234, 11%, 52%);
  --vd-Grayish-Blue: hsl(233, 14%, 35%);
  --vvd-Grayish-Blue: hsl(237, 14%, 26%);

  /* FONT SIZE */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875;
  --fw-400: 400;
  --fw-700: 700;
  /* font-families */

  --ff-sans-jos: "Josefin Sans", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/*------------------------- */
/*Reset
/*------------------------- */

/*Box sizing */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-sans-jos);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  min-height: 100vh;
  width: 100%;
  background: url(/images/bg-mobile-dark.jpg) no-repeat, var(--vd-Blue);
  background-size: contain;
  display: flex;
  place-content: center;
}

/* make image easier t work with */
img,
picture {
  max-width: 100%;
}

/* make form element easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animation for the people who've turned it off */
@media (prefer-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------------- */
/*Utility classes
/*------------------------- */
.flex {
  display: flex;
}

.grid {
  display: grid;
}
.left {
  justify-self: left;
}
.right {
  justify-self: right;
}

.container {
  margin-inline: auto;
  min-width: 80%;
  min-height: 100vh;
  background: transparent;
}

.sr-only {
  position: absolute;
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

/* colors */
.bg-gradirent {
  background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.text-white {
  color: var(--vl-grey);
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-jos {
  font-family: var(--ff-sans-jos);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-1 {
  letter-spacing: 16px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.center {
  display: flex;
  place-content: center;
}

.fs-900,
.fs-600,
.fs-800,
.fs-700 {
  line-height: 1.1;
}

/* components */
header {
  width: 100%;
  height: 20%;
  align-items: center;
  grid-template-columns: 80% 20%;

  #theme {
    cursor: pointer;
    margin-inline-end: 1rem;
    height: 2rem;
    width: 2rem;
    background: url(/images/icon-sun.svg);
    background-size: cover;
    justify-self: right;
  }

  #theme[aria-selected="true"] {
    background: url(/images/icon-moon.svg) no-repeat;
  }
}
//---------Main penal
#panel {
  height: 80%;
  overflow: hidden;

  &__input {
    margin-block-end: 2rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background: var(--vd-Desaturated-Blue);

    input {
      width: 100%;
      height: 3rem;
      border: 0;
      outline: none;
      border-radius: 0.5rem;
      background-color: inherit;
      text-indent: 1rem;
      color: var(--d-Grayish-Blue);

      &::placeholder {
        color: var(--d-Grayish-Blue);
      }

      &:focus {
        border: transparent;
      }
    }

    #done {
      height: 1.7rem;
      width: 1.7rem;
      place-content: center;
      border-radius: 50%;
      background: url(/images/icon-check.svg) no-repeat center;
      border: 3px solid hsl(280, 53%, 41%);
    }
  }


  //--------- INPUT ITEMS CREATED

  &__new-input {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
    width: 100%;
    height: 3rem;
    outline: none;
    background-color: var(--vd-Desaturated-Blue);
    text-indent: 1rem;
    color: var(--d-Grayish-Blue);
    border-bottom: 1px solid var(--d-Grayish-Blue);
    #img {
      margin-inline: 0.5rem;
      place-content: center;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background-color: transparent;
      border: 3px solid var(--vd-Grayish-Blue);
    }

    button {
      margin-inline: 1rem;
      cursor: pointer;
      border: 0;
      height: 1.5rem;
      width: 1.5rem;
      background: url(/images/icon-cross.svg) no-repeat center;
      justify-self: right;
      transition: 1000s linear ease-in-out;
      &:hover {
        transform: scale(1.6);
      }
    }

    #done1 {
      cursor: pointer;
      margin-inline: 1rem;
      height: 1.7rem;
      width: 1.7rem;
      place-content: center;
      border-radius: 50%;
      background: transparent;
      border: 3px solid var(--d-Grayish-Blue);
      &:hover {
        border-image: linear-gradient(
          to right,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
        border-image-slice: 2;
      }
    }

    #img-checked {
      cursor: pointer;
      margin-inline: 1rem;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background: url(/images/icon-check.svg) no-repeat center,
        linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }

  }
}

.option {
  grid-template-columns: 50% 50%;
  align-items: center;
  border-radius: 0.5rem;
  height: 3rem;
  bottom: 1rem;
  position: absolute;
  width: 83%;
  background-color: var(--vd-Desaturated-Blue);
  color: var(--d-Grayish-Blue);
  text-decoration: none;
  list-style: none;
  padding-inline: 1rem;
}

.filter{
  cursor: pointer;
  &:hover {
    color: var(--l-Grayish-Blue-hover);
  }
}
.complete {
  background: transparent;
}
.line{
  text-decoration: line-through;
}

/*-----------LAYOUT----------- */
@media(min-width:45em){
  body{
    background: url(/images/bg-desktop-light.jpg) no-repeat, var(--vd-Blue);
  }
  .container{
    min-width: 50%;
  }
  .option {
    width: 50%;
  }
}